<a href="https://colab.research.google.com/github/dauphin95/data_spring/blob/master/DNN02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('credit_cards_dataset.csv')

In [3]:
X = df.drop( ['default.payment.next.month'], axis=1).values

In [4]:
Y = df['default.payment.next.month'].values

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

Standard Scale

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc = StandardScaler()

In [9]:
X_train = sc.fit_transform(X_train)

In [10]:
pd.DataFrame(X_train).describe().round(2)

             0         1         2   ...        21        22        23
count  21000.00  21000.00  21000.00  ...  21000.00  21000.00  21000.00
mean      -0.00     -0.00     -0.00  ...      0.00      0.00     -0.00
std        1.00      1.00      1.00  ...      1.00      1.00      1.00
min       -1.73     -1.22     -1.24  ...     -0.30     -0.31     -0.30
25%       -0.87     -0.91     -1.24  ...     -0.29     -0.29     -0.29
50%        0.01     -0.21      0.81  ...     -0.21     -0.21     -0.21
75%        0.86      0.56      0.81  ...     -0.06     -0.05     -0.07
max        1.73      6.44      0.81  ...     38.23     26.62     29.46

[8 rows x 24 columns]

In [11]:
X_test = sc.fit_transform(X_test)

In [12]:
from tensorflow import keras
from tensorflow.keras import layers

# Create a network with 1 linear unit
model = keras.Sequential([
    layers.Dense(units=30, input_shape=[24], activation='relu'),
    layers.Dropout(rate=0.3),
    layers.BatchNormalization(),
    layers.Dense(units=50,  activation='relu'),
    layers.Dropout(rate=0.3),
    layers.BatchNormalization(),
    layers.Dense(units=30,  activation='relu'),
    layers.Dropout(rate=0.3),
    layers.Dense(units=15),
    layers.Dropout(rate=0.3),
    layers.Dense(units=5),
    layers.Dropout(rate=0.3),

    layers.Dense(units=1, activation='sigmoid')

])

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                750
_________________________________________________________________
dropout (Dropout)            (None, 30)                0
_________________________________________________________________
batch_normalization (BatchNo (None, 30)                120
_________________________________________________________________
dense_1 (Dense)              (None, 50)                1550
_________________________________________________________________
dropout_1 (Dropout)          (None, 50)                0
_________________________________________________________________
batch_normalization_1 (Batch (None, 50)                200
_________________________________________________________________
dense_2 (Dense)              (None, 30)                1530
_________________________________________________________________
dropout_2 (Dropout)          (None, 30)                0
_________________________________________________________________
dense_3 (Dense)              (None, 15)                465
_________________________________________________________________
dropout_3 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 80
_________________________________________________________________
dropout_4 (Dropout)          (None, 5)                 0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 4,701
Trainable params: 4,541
Non-trainable params: 160
_________________________________________________________________

In [14]:
import tensorflow as tf

In [15]:
model.compile(optimizer='adam',loss=tf.keras.losses.BinaryCrossentropy(), metrics=[tf.keras.metrics.BinaryAccuracy()] )

In [16]:
model.fit(X_train, Y_train, epochs=30, shuffle=True, verbose='auto')

Epoch 1/30
657/657 [==============================] - 6s 6ms/step - loss: 0.5785 - binary_accuracy: 0.7462
Epoch 2/30
657/657 [==============================] - 4s 6ms/step - loss: 0.5039 - binary_accuracy: 0.7880
Epoch 3/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4820 - binary_accuracy: 0.7980
Epoch 4/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4759 - binary_accuracy: 0.7971
Epoch 5/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4717 - binary_accuracy: 0.7991
Epoch 6/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4682 - binary_accuracy: 0.7977
Epoch 7/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4642 - binary_accuracy: 0.8011
Epoch 8/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4639 - binary_accuracy: 0.8023
Epoch 9/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4602 - binary_accuracy: 0.8021
Epoch 10/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4580 - binary_accuracy: 0.8031
Epoch 11/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4561 - binary_accuracy: 0.8048
Epoch 12/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4570 - binary_accuracy: 0.8027
Epoch 13/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4540 - binary_accuracy: 0.8034
Epoch 14/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4573 - binary_accuracy: 0.8000
Epoch 15/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4517 - binary_accuracy: 0.8055
Epoch 16/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4542 - binary_accuracy: 0.8055
Epoch 17/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4502 - binary_accuracy: 0.8060
Epoch 18/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4513 - binary_accuracy: 0.8052
Epoch 19/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4515 - binary_accuracy: 0.8045
Epoch 20/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4519 - binary_accuracy: 0.8036
Epoch 21/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4507 - binary_accuracy: 0.8042
Epoch 22/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4497 - binary_accuracy: 0.8074
Epoch 23/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4523 - binary_accuracy: 0.8055
Epoch 24/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4483 - binary_accuracy: 0.8076
Epoch 25/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4473 - binary_accuracy: 0.8054
Epoch 26/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4478 - binary_accuracy: 0.8083
Epoch 27/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4478 - binary_accuracy: 0.8093
Epoch 28/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4481 - binary_accuracy: 0.8091
Epoch 29/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4471 - binary_accuracy: 0.8079
Epoch 30/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4473 - binary_accuracy: 0.8075

In [17]:
y_predict = model.predict(X_test)

In [18]:
import numpy as np

In [19]:
y_predict = np.rint(y_predict)

In [20]:
from sklearn.metrics import recall_score

In [21]:
recall_score(Y_test, y_predict)

0.28622448979591836