<a href="https://colab.research.google.com/github/dauphin95/data_spring/blob/master/DNN_save_load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

In [18]:
#tf.__version__

In [19]:
df = pd.read_csv('credit_cards_dataset.csv')

In [20]:
X = df.drop( ['default.payment.next.month'], axis=1).values

In [21]:
Y = df['default.payment.next.month'].values

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

Standard Scale

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
sc = StandardScaler()

In [26]:
X_train = sc.fit_transform(X_train)

In [27]:
pd.DataFrame(X_train).describe().round(2)

             0         1         2   ...        21        22        23
count  21000.00  21000.00  21000.00  ...  21000.00  21000.00  21000.00
mean      -0.00     -0.00     -0.00  ...      0.00      0.00     -0.00
std        1.00      1.00      1.00  ...      1.00      1.00      1.00
min       -1.73     -1.22     -1.24  ...     -0.30     -0.31     -0.30
25%       -0.87     -0.91     -1.24  ...     -0.29     -0.29     -0.29
50%        0.01     -0.21      0.81  ...     -0.21     -0.21     -0.21
75%        0.86      0.56      0.81  ...     -0.06     -0.05     -0.07
max        1.73      6.44      0.81  ...     38.23     26.62     29.46

[8 rows x 24 columns]

In [28]:
X_test = sc.fit_transform(X_test)

In [29]:
from tensorflow import keras
from tensorflow.keras import layers

# Create a network with 1 linear unit
model = keras.Sequential([
    layers.Dense(units=30, input_shape=[24], activation='relu'),
    layers.Dropout(rate=0.3),
    layers.BatchNormalization(),

    #layers.Dense(units=50, activation='relu'),
    #layers.Dropout(rate=0.3),
    #layers.BatchNormalization(),

    layers.Dense(units=30, activation='relu'),
    layers.Dropout(rate=0.3),
    layers.BatchNormalization(),

    layers.Dense(units=15, activation='relu'),
    layers.Dropout(rate=0.3),

    layers.Dense(units=5, activation='relu'),
    layers.Dropout(rate=0.3),

    layers.Dense(units=1, activation='sigmoid')
])

In [30]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                750
_________________________________________________________________
dropout (Dropout)            (None, 30)                0
_________________________________________________________________
batch_normalization (BatchNo (None, 30)                120
_________________________________________________________________
dense_1 (Dense)              (None, 30)                930
_________________________________________________________________
dropout_1 (Dropout)          (None, 30)                0
_________________________________________________________________
batch_normalization_1 (Batch (None, 30)                120
_________________________________________________________________
dense_2 (Dense)              (None, 15)                465
_________________________________________________________________
dropout_2 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 80
_________________________________________________________________
dropout_3 (Dropout)          (None, 5)                 0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 6
=================================================================
Total params: 2,471
Trainable params: 2,351
Non-trainable params: 120
_________________________________________________________________

In [31]:
import tensorflow as tf

In [32]:
model.compile(optimizer='rmsprop',loss=tf.keras.losses.BinaryCrossentropy(), metrics=[tf.keras.metrics.BinaryAccuracy()] )

In [33]:
model.fit(X_train, Y_train, epochs=30, shuffle=True, verbose='auto')

Epoch 1/30
657/657 [==============================] - 8s 6ms/step - loss: 0.5443 - binary_accuracy: 0.7720
Epoch 2/30
657/657 [==============================] - 4s 6ms/step - loss: 0.5047 - binary_accuracy: 0.7847
Epoch 3/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4909 - binary_accuracy: 0.7925
Epoch 4/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4809 - binary_accuracy: 0.7940
Epoch 5/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4788 - binary_accuracy: 0.7939
Epoch 6/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4730 - binary_accuracy: 0.7964
Epoch 7/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4699 - binary_accuracy: 0.7983
Epoch 8/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4676 - binary_accuracy: 0.7981
Epoch 9/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4686 - binary_accuracy: 0.7987
Epoch 10/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4691 - binary_accuracy: 0.8014
Epoch 11/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4676 - binary_accuracy: 0.7983
Epoch 12/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4671 - binary_accuracy: 0.8018
Epoch 13/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4664 - binary_accuracy: 0.8011
Epoch 14/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4654 - binary_accuracy: 0.8020
Epoch 15/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4644 - binary_accuracy: 0.8036
Epoch 16/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4664 - binary_accuracy: 0.8012
Epoch 17/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4648 - binary_accuracy: 0.8041
Epoch 18/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4673 - binary_accuracy: 0.8006
Epoch 19/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4651 - binary_accuracy: 0.8021
Epoch 20/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4607 - binary_accuracy: 0.8043
Epoch 21/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4673 - binary_accuracy: 0.8007
Epoch 22/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4638 - binary_accuracy: 0.8037
Epoch 23/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4633 - binary_accuracy: 0.8030
Epoch 24/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4606 - binary_accuracy: 0.8060
Epoch 25/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4608 - binary_accuracy: 0.8026
Epoch 26/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4640 - binary_accuracy: 0.8033
Epoch 27/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4614 - binary_accuracy: 0.8059
Epoch 28/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4643 - binary_accuracy: 0.8050
Epoch 29/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4636 - binary_accuracy: 0.8037
Epoch 30/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4641 - binary_accuracy: 0.8059

In [34]:
from keras.models import load_model
model.save('my_model.h5')
model = load_model('my_model.h5')

In [35]:
y_predict = model.predict(X_test)

In [ ]:
#y_predict[:30]

In [36]:
import numpy as np

In [37]:
y_predict = np.rint(y_predict)

In [38]:
from sklearn.metrics import recall_score

In [39]:
recall_score(Y_test, y_predict)

0.325