<a href="https://colab.research.google.com/github/dauphin95/data_spring/blob/master/input_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
df1 = pd.read_csv('weather_dataset(2017-2020).csv')
df = pd.read_csv('pollution_dataset(2017-2020).csv')

In [21]:
df1.isnull().sum()

Unnamed: 0      0
지점              0
지점명             0
일시              0
평균기온(°C)      151
일강수량(mm)        7
평균 풍속(m/s)    135
년               0
월               0
dtype: int64

In [26]:
## 결측치 처리
df1['일강수량(mm)'].fillna(0, inplace=True)
df1['평균기온(°C)'].fillna(method='ffill', inplace=True)
df1['평균 풍속(m/s)'].dropna(axis = 0, inplace=True)

In [27]:
df1['평균 풍속(m/s)'][255]

nan

In [15]:
df1.iloc[253:257]

     Unnamed: 0   지점  지점명         일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)     년  월
253         253  401  서초구  2016.9.10      25.3       0.0         0.6  2016  9
254         254  401  서초구  2016.9.11      25.7       0.0         0.7  2016  9
255         255  401  서초구  2016.9.12      25.7       0.0         NaN  2016  9
256         256  401  서초구  2016.9.13      25.8       0.0         1.0  2016  9

In [28]:
## 일시 형식 일치 (0000-00-00)
df1['일시'] = df1['일시'].astype('str')
df1['일시'] = df1['일시'].astype('datetime64[ns]')
df1['일시'] = df1['일시'].astype('str')
df1['일시'] .replace('.','-')

## 컬럼명 일치
df.rename(columns={'측정소명':'지점명'}, inplace=True)
df1.rename(columns={'일시':'측정일시'}, inplace=True)

In [29]:
df1.head()

   Unnamed: 0   지점  지점명        측정일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)     년  월
0           0  401  서초구  2016-01-01       2.5       0.0         0.6  2016  1
1           1  401  서초구  2016-01-02       7.5       0.0         0.8  2016  1
2           2  401  서초구  2016-01-03       7.6       0.0         0.6  2016  1
3           3  401  서초구  2016-01-04       3.4       0.0         1.8  2016  1
4           4  401  서초구  2016-01-05      -0.8       0.0         1.5  2016  1

In [30]:
df.head()

   Unnamed: 0        측정일시  지점명  이산화질소농도(ppm)  ...     년  월  미세먼지구간  초미세먼지구간
0           0  2016-01-01  강동구         0.043  ...  2016  1       2        2
1           1  2016-01-01  강서구         0.048  ...  2016  1       2        2
2           2  2016-01-01  광진구         0.046  ...  2016  1       3        3
3           3  2016-01-01  마포구         0.042  ...  2016  1       2        2
4           4  2016-01-01  서초구         0.038  ...  2016  1       2        2

[5 rows x 13 columns]

In [67]:
df.columns

Index(['Unnamed: 0', '측정일시', '지점명', '이산화질소농도(ppm)', '오존농도(ppm)',
       '이산화탄소농도(ppm)', '아황산가스(ppm)', '미세먼지', '초미세먼지', '년', '월', '미세먼지구간',
       '초미세먼지구간', '일', '시간'],
      dtype='object')

In [66]:
weather = df1[['측정일시', '지점명', '평균기온(°C)', '일강수량(mm)', '평균 풍속(m/s)']]

In [68]:
pollution = df[['측정일시', '지점명','미세먼지구간','초미세먼지구간' ]]

In [75]:
merge_inner = pd.merge(weather,pollution, how='inner',on=['측정일시','지점명'])
merge_inner.isnull().sum()

시간              0
지점명             0
평균기온(°C)      150
일강수량(mm)        7
평균 풍속(m/s)    134
미세먼지구간          0
초미세먼지구간         0
dtype: int64

In [74]:
merge_inner.to_csv('input_dataset.csv', encoding='utf-8-sig')