<a href="https://colab.research.google.com/github/dauphin95/data_spring/blob/master/%EB%82%A0%EC%94%A8_%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%88%98%EC%A0%95(0928).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* **날씨 전처리(0927_다영작성)**
* 다른 column을 사용할 지 몰라서 drop은 진행하지 않음(지점, 일시 drop 가능)
* 데이터 로드(0)
* 8개 구별 데이터만 존재 - 구 이름 통일(?) 
* 대기 데이터 - 서초구, 날씨데이터 - 서초 -> 서초구로 진행
문제발생(영등포구 안바뀜)
* 년, 월 날짜 분리(0)
* null값 어떻게 해야할지 정하기

In [1]:
import pandas as pd
file ='aaa.csv'
df = pd.read_csv(file)

print(df.head(), df.tail(), df.info(), df.describe())
#평균기온, 일강수량, 평균풍속 null값 존재

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14608 entries, 0 to 14607
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          14608 non-null  int64
 1   지점명         14608 non-null  object
 2   일시          14608 non-null  object
 3   평균기온(°C)    14457 non-null  float64
 4   일강수량(mm)    14601 non-null  float64
 5   평균 풍속(m/s)  14473 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 684.9+ KB
    지점 지점명        일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
0  401  서초  2016.1.1       2.5       0.0         0.6
1  401  서초  2016.1.2       7.5       0.0         0.8
2  401  서초  2016.1.3       7.6       0.0         0.6
3  401  서초  2016.1.4       3.4       0.0         1.8
4  401  서초  2016.1.5      -0.8       0.0         1.5         지점   지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
14603  510  영등포   2020.12.27       6.8       0.0         0.6
14604  510  영등포   2020.12.28       7.4       1.0         0.6
14605  510  영등포   2020.12.29       0.9       0.0         1.3
14606  510  영등포   2020.12.30      -9.8       0.0         2.2
14607  510  영등포   2020.12.31      -7.7       0.0         1.4 None                  지점      평균기온(°C)      일강수량(mm)    평균 풍속(m/s)
count  14608.000000  14457.000000  14601.000000  14473.000000
mean     419.879723     13.828754      3.080748      1.619885
std       34.442461     10.416555     11.573061      0.724211
min      401.000000    -15.600000      0.000000      0.100000
25%      402.750000      4.900000      0.000000      1.100000
50%      404.000000     14.800000      0.000000      1.500000
75%      413.000000     23.000000      0.000000      1.900000
max      510.000000     34.200000    148.500000      7.500000

In [3]:
df['일시'] = df['일시'].astype('str')
#df['측정일시'] = air16['측정일시'].astype('datetime64[ns]')
df['일시'] = df['일시'].astype('str')
df_ = df['일시'].str.split('.')
df['년'] = df_.str.get(0)
df['월'] = df_.str.get(1)
print(df.head())

    지점 지점명        일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)     년  월
0  401  서초  2016.1.1       2.5       0.0         0.6  2016  1
1  401  서초  2016.1.2       7.5       0.0         0.8  2016  1
2  401  서초  2016.1.3       7.6       0.0         0.6  2016  1
3  401  서초  2016.1.4       3.4       0.0         1.8  2016  1
4  401  서초  2016.1.5      -0.8       0.0         1.5  2016  1

* **null값 개수 확인 - 어떻게 처리해야할지 논의 필요**
>- 평균값, 제거, 중위값 치환
>- 평균값 : df_mean = df['평균기온'].mean(axis = 0)
  
   df['평균기온'].fillna((df_mean, inplace = True)

>- null값이 하나만 있어도 제거 : df_ = df.dropna(subset = ['평균기온'], how = 'any', axis = 0) print(len(df_)-> 길이로 제거되었나 확인

>- 치환 : (최빈값으로 치환) most_freq = df['평균기온'].value_counts(dropna = True).idxmax() 
df['평균기온'].fillna(most_freq, inplace = True)

* ** 구 이름 통일**
>- 서초 -> 서초구

In [4]:
#영등포구, 마포구, 서초구, 송파구, 광진구, 용산구, 강동구, 강서구

df.replace('서초','서초구', inplace = True)
df.replace('마포','마포구', inplace = True)
df.replace('송파','송파구', inplace = True)
df.replace('광진','광진구', inplace = True)
df.replace('용산','용산구', inplace = True)
df.replace('강동','강동구', inplace = True)
df.replace('강서','강서구', inplace = True)
df.replace('영등포 ' ,'영등포구', inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14608 entries, 0 to 14607
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          14608 non-null  int64
 1   지점명         14608 non-null  object
 2   일시          14608 non-null  object
 3   평균기온(°C)    14457 non-null  float64
 4   일강수량(mm)    14601 non-null  float64
 5   평균 풍속(m/s)  14473 non-null  float64
 6   년           14608 non-null  object
 7   월           14608 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 913.1+ KB

In [5]:
df.head()

    지점  지점명        일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)     년  월
0  401  서초구  2016.1.1       2.5       0.0         0.6  2016  1
1  401  서초구  2016.1.2       7.5       0.0         0.8  2016  1
2  401  서초구  2016.1.3       7.6       0.0         0.6  2016  1
3  401  서초구  2016.1.4       3.4       0.0         1.8  2016  1
4  401  서초구  2016.1.5      -0.8       0.0         1.5  2016  1

In [6]:
df.tail()

        지점   지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)     년   월
14603  510  영등포구  2020.12.27       6.8       0.0         0.6  2020  12
14604  510  영등포구  2020.12.28       7.4       1.0         0.6  2020  12
14605  510  영등포구  2020.12.29       0.9       0.0         1.3  2020  12
14606  510  영등포구  2020.12.30      -9.8       0.0         2.2  2020  12
14607  510  영등포구  2020.12.31      -7.7       0.0         1.4  2020  12

In [ ]:
df.to_csv('weather_dataset(2017-2020).csv', encoding='utf-8-sig')